@font-face {
  font-family: "Coiny-Regular";
  src: url("../fonts/coiny-regular.ttf");
}

/***********/
/* GENERAL */
/***********/
:root {
  --white: rgb(255, 255, 255);
  --black: rgb(30, 30, 30);
  --blue: #00bfff;
  --text-color: #C75185;
  /*!*--background: linear-gradient(to bottom,  #FFEFE3 0%, #FDCAC9 100%);*! */
  --background: linear-gradient(to bottom,  #FFD3E6 0%, #8EC0E8 100%);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  /*font-family: "Nickname", sans-serif;*/
  font-family: "Coiny-Regular", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  color: var(--white);
  background: var(--background);
  overflow: hidden;
}

/******************/
/* Connection */
.connect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

.connect-button {
  font-family: Coiny-Regular, sans-serif;
  color: var(--text-color);
  -webkit-text-stroke: 4px #FFFFFF;
  text-stroke: 4px #FFFFFF;
  font-weight: bolder;
  font-size: 3em;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
  text-transform: uppercase;
}

.connect-button:hover {
  scale: 1.1;
}

.connect-logo{
  position: absolute;
  top: 0;
  left: 0;
  width: 154px;
  padding-left: 30px;
  padding-top: 30px;
  pointer-events: none;
}

@media only screen and (min-width: 1200px) {
  .connect-logo{
    width: 220px;
  }
}

/******************/

/******************/
/* MAIN MENU      */
/******************/
.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: var(--background);
  /*background: white;*/
}

.logo-main-menu {
  width: 327px;
  /*margin: 18vh 0 8vh 0;*/
  margin: 88px 0 76px 0;
}

@media only screen and (min-width: 1200px) {
  .logo-main-menu {
    width: 500px;
    margin: 88px 0 76px 0;
  }
}


.main-menu-button {
  color: var(--text-color);
  -webkit-text-stroke: 4px #FFFFFF;
  text-stroke: 4px #FFFFFF;
  /*font-size: 6vh;*/
  font-size: 60px;
  line-height: 54px;
  font-weight: 700;
  cursor: pointer;
  /*transition: scale 0.4s 0.2s cubic-bezier(0.19, 1.51, 0.29, 0.99);*/
  animation: scaleText 2s ease-in-out infinite;
  text-transform: uppercase;
}

@keyframes scaleText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Увеличение текста */
  }
  100% {
    transform: scale(1);
  }
}

/*.main-menu-button:hover {*/
/*  scale: 1.1;*/
/*}*/

/*.podium-wrapper{*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  right: 3vh;*/
/*}*/

/*.podium-ball {*/
/*  width: 22vh;*/
/*  height: 22vh;*/
/*  transform: translateX(-50%);*/
/*  !*animation: bounce 1s ease-in-out infinite;*!*/
/*  animation: bounce 2s linear infinite;*/
/*  position: absolute;*/
/*  bottom: 45vh;*/
/*  right: 12vh;*/
/*  z-index: 3;*/
/*}*/

/*@keyframes bounce {*/
/*  0% {*/
/*    transform: translateX(-50%) translateY(0) rotate(0deg);*/
/*  }*/
/*  50% {*/
/*    transform: translateX(-50%) translateY(250px) rotate(180deg); !* Высота подскока *!*/
/*  }*/
/*  100% {*/
/*    transform: translateX(-50%) translateY(0) rotate(360deg);;*/
/*  }*/
/*}*/

.podium{
  position: absolute;
  bottom: 0;
  right: 3vh;
  width: 600px;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wordmark {
  width: 15vh;
  margin-bottom: 5vh;
}


.main-menu-section-title {
  margin-top: 0.5vh;
  font-size: 2.75vh;
}

.main-menu-selection-area {
  display: flex;
}

.main-menu-selection {
  font-size: 2vh;
  width: 20vh;
  text-align: center;
  margin: 1vh -0.5vh;
  cursor: pointer;
  padding: 1vh 2vh;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.4s 0.2s cubic-bezier(0.19, 1.51, 0.29, 0.99);
}

.main-menu-selection-short {
  width: 50px;
  margin: 5px 10px;
}

.main-menu-selection:hover {
  scale: 1.1;
}

.main-menu-selected {
  border: 5px dashed white;
}

.main-menu-text{
  /*font-family: "Nickname", sans-serif;*/
  font-family: "Coiny-Regular", sans-serif;
  margin-top: 25px;
  font-size: 50px;
}

.coming-soon {
  font-size: 2.5vh;
  margin-top: 1.5vh;
  max-width: 15ch;
  text-align: center;
  transform: rotateZ(-7.5deg);
  animation: flash 0.5s infinite;
}

@keyframes flash {
  0% {
    display: none;
    opacity: 0;
  }

  90% {
    display: block;
    opacity: 0.99;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.main-menu-about-section {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2vh;
  font-size: 2.2vh;
}

.author-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6vh;
  margin: 2vh;
}

/******************/
/* LOADING SCREEN */
/******************/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

.loading-logo{
  position: absolute;
  top: 30px;
  left: 30px;
  /*width: clamp(280px, 50vw, 120px);*/
  width: 154px;
  /*padding: clamp(1.5em, 1vw, 3em);*/
  /*transform: rotateZ(-10deg);*/
  pointer-events: none;
}

.loading-middle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.loading-ball{
  /*width: 22vh;*/
  width: 182px;
  /*transform: translateX(100px);*/
  animation: bounce-loading 2s linear infinite;
  /*position: absolute;*/
  /*bottom: 18vh;*/
  /*right: 12vh;*/
}

.loading-text {
  /*font-family: Nickname, sans-serif;*/
  font-family: Coiny-Regular, sans-serif;
  color: var(--text-color);
  -webkit-text-stroke: 4px #FFFFFF;
  text-stroke: 4px #FFFFFF;
  font-weight: bold;
  /*margin: auto;*/
  animation: loading 0.5s linear infinite;
  background: #ffffff00;
  /*font-size: 4em;*/
  font-size: 60px;
}


@keyframes loading {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

@keyframes bounce-loading {
  0% {
    transform:  translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-170px) rotate(180deg);
  }
  100% {
    transform:  translateY(0) rotate(360deg);
  }
}

@media only screen and (min-width: 1200px) {
  .loading-ball{
    width: 220px;
    animation: bounce-loading 2s linear infinite;
  }
  .loading-logo{
    width: 220px;
  }
  .loading-text {
    font-size: 70px;
  }
}

/*************/
/* INTERFACE */
/*************/
.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.interface-level-over{*/
/*  background: rgba(31, 31, 31, 0.6);*/
/*}*/

.logo {
  position: absolute;
  /*width: clamp(85px, 6vw, 120px);*/
  /*width: clamp(280px, 50vw, 120px);*/
  width: 154px;
  padding-left: 30px;
  padding-top: 30px;
  /*padding: clamp(1.5em, 1vw, 3em);*/
  /*transform: rotateZ(-10deg);*/
  pointer-events: none;
}

/*******************/
/* CONTROL BUTTONS */
/*******************/
.control-buttons {
  background: #00000000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 2.2rem;
  display: flex;
  flex-direction: row;
}

.top-control-wrapper{
  display: flex;
  flex-direction: column;
}

.control-button {
  /*border: clamp(5px, 0.4vw, 7px) solid #ffffff;*/
  border-radius: 60px;
  padding: 8px;
  margin-left: 20px;
  line-height: 10px;
  cursor: pointer;
  transition: opacity 0.5s cubic-bezier(0.19, 1.51, 0.29, 0.99);
}

.control-button > img {
  /*width: clamp(40px, 2.5vw, 120px);*/
  width: 55px;
}

.control-button:hover {
  opacity: 0.6;
}

/***********/
/* BOTTOM  */
/***********/
.bottom {
  /*background-color: #C75185;*/
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 1vh;
  pointer-events: none;
}

/***********/
/* TIME    */
/***********/
.bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.time-container {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction: row;
  /*margin-right: 6vh;*/
  /*background-color: green;*/
  /*margin-bottom: 2em;*/
  margin-right: 40px;
  margin-bottom: 44px;
}

.level-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*width: 50vw;*/
  /*background-color: deepskyblue;*/
  /*margin-left: 6vh;*/
  margin-left: 40px;
  margin-bottom: 44px;
}

.bottom-label {
  color: var(--text-color);
  -webkit-text-stroke: 4px #FFFFFF;
  text-stroke: 4px #FFFFFF;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 54px;
  font-weight: bold;
  width: 100%;
  /*margin-right: 8vh;*/
}

.time {
  color: var(--text-color);
  -webkit-text-stroke: 4px #FFFFFF;
  text-stroke: 4px #FFFFFF;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 3px;
  line-height: clamp(0.85em, 5vh, 5em);
  text-align: left;
  margin-left: 5vh;
  width: 200px;
}

/************/
/* MODE     */
/************/
.mode {
  color: var(--text-color);
  -webkit-text-stroke: 4px #FFFFFF;
  text-stroke: 4px #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 54px;
  margin-right: 5vh;
}

/************/
/* CONTROLS */
/************/
.controls {
  /*padding: clamp(2em, 1vw, 3em);*/
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: clamp(3em, 2vw, 2.5em);
  height: clamp(3em, 2vw, 2.5em);
  margin: clamp(0.2em, 0.15vw, 1.5em);
  border: clamp(0.5em, 0.3vw, 1.5em) solid #ffffff;
  background: #ffffff25;
  border-radius: clamp(1em, 0.75vw, 2em);
}

.controls .key.large {
  width: clamp(12em, 7vw, 50em);
}

.controls .key.active {
  background: #ffffffb8;
}

/***********/
/* RESTART */
/***********/
.finished {
  /*font-size: 200px;*/
  font-size: 80px;
  font-family: Coiny-Regular, sans-serif;
  color: var(--text-color);
  -webkit-text-stroke: 4px #FFFFFF;
  text-stroke: 4px #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.restart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 80px;
  /*opacity: 0.8;*/
  background: rgba(31, 31, 31, 0.5);
  padding-top: 10px;
  pointer-events: auto;
  z-index: 5;
}

.restart-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.restart-button-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restart-button-block:nth-child(1){
  margin-right: 40px;
}

.restart-button-block > div{
  font-size: 40px;
  font-family: Coiny-Regular, sans-serif;
  color: var(--text-color);
  -webkit-text-stroke: 4px #FFFFFF;
  text-stroke: 4px #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
}

.restart-button, .next-button {
  /*width: 200px;*/
  /*height: 200px;*/
  width: 90px;
  height: 90px;
  transition: transform 0.75s cubic-bezier(0.19, 1.51, 0.29, 0.99);
  margin-bottom: 20px;
  cursor: pointer;
}

.restart-button:hover {
  transform: rotateZ(-180deg);
}
.next-button:hover {
  transform: rotateZ(-360deg);
}

/*******************/
/* MODAL           */
/*******************/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
  background: rgba(31, 31, 31, 0.4);
}

.modal * {
  color: var(--black);
}

.modal-box {
  background: var(--white);
  width: 30vw;
  height: fit-content;
  padding: 1vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  z-index: 3;
  text-align: center;
  box-shadow: 0 0 20px var(--white);
}

.modal-title {
  font-size: min(6vw, 7vh);
  margin: 3vh;
}

.section-title {
  font-size: min(4vw, 5vh);
  margin-bottom: 1.5vh;
}

.mode-area {
  margin-bottom: 4vh;
  perspective: 1000px;
  perspective-origin: 50%;
}

.mode-selection {
  cursor: pointer;
  font-size: min(2vw, 2vh);
  padding: min(0.6vw, 0.6vh);
}

.selected-mode {
  color: rgb(191, 191, 191);
}

.modal-button {
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
  border-radius: 50px;
  font-size: min(2vw, 2vh);
  padding: min(1.6vw, 1.6vh) min(3vw, 3vh);
  margin-bottom: 1.5vh;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.15;
}

.mode-selection {
  transition: transform 0.75s 0.1s cubic-bezier(0.19, 1.51, 0.29, 0.99);
}

.mode-selection:hover {
  transform: translateZ(25px);
}

.modal-button {
  transition: scale 1s 0.1s cubic-bezier(0.19, 1.51, 0.29, 0.99);
}

.modal-button:hover {
  scale: 1.1;
}

.modal-about-area {
  margin: 2vh;
}

.modal-about {
  font-size: min(1.6vw, 1.6vh);
}

@media only screen and (max-width: 900px) {
  .bottom {
    justify-content: end;
  }

  .controls {
    display: none;
  }

  .time-container {
    display: flex;
    margin: 2vh 3vw;
  }

  .individual-score {
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    font-size: 2.75vh;
  }

  .mode-info {
    top: -1.3vh;
    font-size: 1.3vh;
  }

  .modal-box {
    width: 85vw;
    height: 90vh;
    border-radius: 30px;
  }

  .modal-title {
    font-size: 7.5vh;
    margin: 3vh;
  }

  .section-title {
    font-size: 5vh;
    margin-bottom: 2vh;
  }

  .mode-area {
    margin-bottom: 5vh;
  }

  .mode-selection,
  .modal-button {
    font-size: 3vh;
    padding: 1vh;
  }
  .modal-button:hover,
  .mode-selection:hover {
    transform: none;
  }

  .modal-about-area {
    margin: 2vh;
  }

  .modal-about {
    font-size: 1.75vh;
  }
}
